VITE_TMDB_API_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_AUTHORIZED_PLAYBACK_CATALOG_URL=
VITE_NEWS_PLAYLIST_AR=https://raw.githubusercontent.com/Free-TV/IPTV/master/playlists/playlist_zz_news_ar.m3u8
VITE_NEWS_PLAYLIST_EN=https://raw.githubusercontent.com/Free-TV/IPTV/master/playlists/playlist_zz_news_en.m3u8
VITE_NEWS_PLAYLIST_ES=https://raw.githubusercontent.com/Free-TV/IPTV/master/playlists/playlist_zz_news_es.m3u8