VITE_SUPABASE_URL=https://pxjohgzdlubkkiuooxtx.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_dYWbhxdWs3mCzyidIXGbEQ_ha0Qlcjx
VITE_TMDB_API_KEY=193c909f9dcb815ea536c783dab59ff5
VITE_IMGBB_KEY=7d6e9e116b3fb6b981b8965d4fcb0f89
VITE_ADMIN_PASSWORD=DREED12345FNR1
